* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

:root {
    --bcolor: #00101F;
    --footer-color: #010a12;
    --mainheading: #F4CE14;
    --para: #fff6f4;
    --hotish: #FF3FA4;
    --skyblue: #525FE1;
}

html {
    background-color: var(--bcolor);
    overflow-x: hidden;
    /* font-size: 62.5%; */
}

.header {
    background-color: var(--bcolor);
    padding: 0 48px;
    height: 80px;
    /* line-height: 6.5rem; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header .logo {
    height: 37px;
    color: var(--para);
}

/* .logo .logo-span {
    color: var(--hotish);
} */

.navbar-list {
    display: flex;
    gap: 48px;
    list-style: none;
}

.nav-links:link,
.nav-links:visited {
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    color: var(--para);
    transition: all 0.3s;
}

.nav-links:hover,
.nav-links:active {
    color: var(--mainheading);
}

.hamburger {
    display: none;
    background: transparent;
    cursor: pointer;
}

.mobile-icon-menu {
    width: 40px;
    height: 40px;
    color: var(--para);
}

.mobile-icon-close {
    width: 40px;
    height: 40px;
    color: var(--para);
}


.mobile-icon-close {
    display: none;
    /* color: var(--para); */
}

/* For small screen media starts*/
/*For 980px starts */
@media(max-width: 980px) {
    .hamburger {
        display: block;
        z-index: 999;
        color: var(--para);
    }

    .header {
        position: relative;
    }

    .header .logo {
        width: 40%;
    }

    .navbar {
        /* z-index: 1000; */
        width: 100%;
        height: 100vh;
        background: var(--bcolor);
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;

        /* Transition */
        transform: translateY(-100%);
        transition: all 1s linear;

        opacity: 0;
        visibility: hidden;
        pointer-events: none;
    }

    .navbar-list {
        flex-direction: column;
        align-items: center;
    }

    .active .navbar {
        /* overflow-x:hidden; */
        transform: translateY(0);
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
    }

    .active .hamburger .mobile-icon-close {
        display: block;
    }

    .active .hamburger .mobile-icon-menu {
        display: none;
    }
}

/*For 980px ends */

/*For 560px starts */

@media (max-width: 560px) {
    .header {
        padding: 0 24px;
    }

    .header .logo {
        width: 60%;
    }
}

/*For 980px ends */

/* For small screen media ends*/


/* =============================== */
/* Footer CSS Starts */
/* =============================== */
.footer {
    padding: 2rem 0 0;
    height: 50vh;
    background-color: var(--footer-color);
    color: var(--para);
    display: flex;
    justify-content: space-around;
}

.footer .fone {
    display: flex;
    flex-direction: column;
    gap: 1.7rem;
}

.footer .fone span {
    color: var(--hotish);
    font-weight: bold;
}

.footer .fone .footer-links {
    display: flex;
    gap: 20px;
}

.footer .fone .footer-links a {
    text-decoration: none;
    color: var(--para);
    font-size: 30px;
}

.footer .fone .footer-links a:hover {
    color: var(--mainheading);
}

.footer ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.footer ul li a {
    text-decoration: none;
    color: var(--para);
}

.footer ul li a:hover {
    color: var(--skyblue);
}

.footer-h3 {
    text-align: center;
    border-bottom: 4px solid var(--mainheading);
    margin-bottom: 1rem;
}

/* footer css for small screen starts */
@media(max-width: 980px) {
    .footer{
        height: max-content;
        display: flex;
        flex-direction: column;
        gap: 30px;
        padding: 20px 10px;
    }
    .footer-h3{
        /* margin-top: 1rem; */
        border: none;
        text-align: start;
        margin-bottom: 0;
    }
    /* .footer .fone .footer-links{
        display: flex;
        align-items: center;
        justify-content: center;
    } */
}
/* footer css for small screen ends */

/* =============================== */
/* Footer CSS End */
/* =============================== */