* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

:root {
    --bcolor: #00101F;
    --footer-color: #010a12;
    --mainheading: #F4CE14;
    --para: #fff6f4;
    --hotish: #FF3FA4;
    --skyblue: #525FE1;
    --suntala: rgb(152, 79, 0);
}
body{
    background-color: var(--bcolor) !important;
}

/* =============================== */
/* Button CSS start */
/* =============================== */

.button {
    display: inline-block;
    border-radius: 7px;
    border: none;
    background: var(--skyblue);
    color: var(--para);
    font-family: inherit;
    text-align: center;
    font-size: 13px;
    box-shadow: 0px 14px 56px -11px var(--skyblue);
    width: 10em;
    padding: 10px;
    transition: all 0.4s;
    cursor: pointer;
    font-weight: bold;
}

.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.4s;
}

.button span:after {
    content: 'Now';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.7s;
}

.button:hover span {
    padding-right: 3.55em;
}

.button:hover span:after {
    opacity: 4;
    right: 0;
}

/* =============================== */
/* Button CSS End */
/* =============================== */
html {
    background-color: var(--bcolor);
    overflow-x: hidden;
    /* font-size: 62.5%; */
}

.header {
    position: sticky;
    top: 0;
    left: 0;
    background-color: var(--bcolor);
    padding: 0 48px;
    height: 70px;
    /* line-height: 6.5rem; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 999;
    /* border-bottom: 1px solid var(--para);
    margin-bottom: 2rem; */
}

.header .logo {
    height: 37px;
    color: var(--para);
}

/* .logo .logo-span {
    color: var(--hotish);
} */

.navbar-list {
    display: flex;
    gap: 48px;
    list-style: none;
}

.navkolinks {
    padding: 10px;
}

.navkolinks:link,
.navkolinks:visited {
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    color: var(--para);
    transition: all 0.3s;
}

.navkolinks:hover,
.navkolinks:active {
    color: var(--mainheading);
}

.hamburger {
    display: none;
    background: transparent;
    cursor: pointer;
}

.mobile-icon-menu {
    width: 40px;
    height: 40px;
    color: var(--para);
}

.mobile-icon-close {
    width: 40px;
    height: 40px;
    color: var(--para);
}


.mobile-icon-close {
    display: none;
    /* color: var(--para); */
}
.userr{
    color: var(--hotish);
    /* font-size: small; */
    font-weight: bold;
    line-height: 40px;
}
.loggedinUserSpan{    
    /* color: #6572ff; */
    color: var(--mainheading);
}

/* For small screen media starts*/
/*For 980px starts */
@media(max-width: 980px) {
    .userr{
        display: none;
    }
    .hamburger {
        display: block;
        z-index: 999;
        color: var(--para);
    }

    .header {
        position: relative;
    }

    .header .logo {
        width: 40%;
    }

    .navbar {
        /* z-index: 1000; */
        width: 100%;
        height: 100vh;
        background: var(--bcolor);
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;

        /* Transition */
        transform: translateY(-100%);
        transition: all 1s linear;

        opacity: 0;
        visibility: hidden;
        pointer-events: none;
    }

    .navbar-list {
        flex-direction: column;
        align-items: center;
    }

    .active .navbar {
        /* overflow-x:hidden; */
        transform: translateY(0);
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
    }

    .active .hamburger .mobile-icon-close {
        display: block;
    }

    .active .hamburger .mobile-icon-menu {
        display: none;
    }
}

/*For 980px ends */

/*For 560px starts */

@media (max-width: 560px) {
    .header {
        padding: 0 24px;
    }

    .header .logo {
        width: 60%;
    }
}



/*For 980px ends */

/* For small screen media ends*/

/* =============================== */
/* Footer CSS Starts */
/* =============================== */
.footer {
    padding: 2rem 0 0;
    height: 50vh;
    background-color: var(--footer-color);
    color: var(--para);
    display: flex;
    justify-content: space-around;
}

.footer .fone {
    display: flex;
    flex-direction: column;
    gap: 1.7rem;
}

.footer .fone span {
    color: var(--hotish);
    font-weight: bold;
}

.footer .fone .footer-links {
    display: flex;
    gap: 20px;
}

.footer .fone .footer-links a {
    text-decoration: none;
    color: var(--para);
    font-size: 30px;
}

.footer .fone .footer-links a:hover {
    color: var(--mainheading);
}

.footer ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.footer ul li a {
    text-decoration: none;
    color: var(--para);
}

.footer ul li a:hover {
    color: var(--skyblue);
}

.footer-h3 {
    text-align: center;
    border-bottom: 4px solid var(--mainheading);
    margin-bottom: 1rem;
}

/* footer css for small screen starts */
@media(max-width: 980px) {
    .footer {
        height: max-content;
        display: flex;
        flex-direction: column;
        gap: 30px;
        padding: 20px 10px;
    }

    .footer-h3 {
        /* margin-top: 1rem; */
        border: none;
        text-align: start;
        margin-bottom: 0;
    }
}

/* footer css for small screen ends */

/* =============================== */
/* Footer CSS End */
/* =============================== */


/* =============================== */
/* Sign up Modal CSS Start */
/* =============================== */
/* Styling for the overlay */
.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;
}

/* Styling for the modal */
.modal {
    height: 62vh;
    width: 30vw;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--footer-color);
    padding: 20px;
    color: var(--para);
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    z-index: 2;
}

/* Styling for the close button */
.close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-weight: bold;
    font-size: 30px;
}

.close:hover {
    color: red;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

form span {
    color: var(--hotish);
}

form .primary-input {
    height: 40px;
    width: 18vw;
    font-weight: bold;
    font-size: 20px;
    padding: 10px;
    color: var(--footer-color);
    border: none;
    border-radius: 7px;
}

/* =============================== */
/* Sign up Modal CSS Start */
/* =============================== */


/* =============================== */
/* Sign up Button CSS Start */
/* =============================== */

/* CSS */
.button-79 {
    backface-visibility: hidden;
    background: var(--skyblue);
    border: 0;
    border-radius: .375rem;
    box-sizing: border-box;
    color: var(--para);
    cursor: pointer;
    display: inline-block;
    font-size: 1.125rem;
    font-weight: bold;
    letter-spacing: -.01em;
    line-height: 1;
    padding: 1rem 1.25rem;
    position: relative;
    text-align: left;
    text-decoration: none;
    transform: translateZ(0) scale(1);
    transition: transform .2s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button-79:disabled {
    color: #787878;
    cursor: auto;
}

.button-79:not(:disabled):hover {
    transform: scale(1.05);
}

.button-79:not(:disabled):hover:active {
    transform: scale(1.05) translateY(.125rem);
}

.button-79:focus {
    outline: 0 solid transparent;
}

.button-79:focus:before {
    border-width: .125rem;
    content: "";
    left: calc(-1*.375rem);
    pointer-events: none;
    position: absolute;
    top: calc(-1*.375rem);
    transition: border-radius;
    user-select: none;
}

.button-79:focus:not(:focus-visible) {
    outline: 0 solid transparent;
}

.button-79:not(:disabled):active {
    transform: translateY(.125rem);
}

/* =============================== */
/* Sign up Button CSS End */
/* =============================== */


/* =============================== */
/* Django messages CSS Starts */
/* =============================== */
.messages {
    text-align: center;
}

.error {
    color: red;
}

.success {
    color: greenyellow;
}

.warning {
    color: rgba(255, 220, 79, 0.923);
}

/* =============================== */
/* Django messages CSS End */
/* =============================== */