*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:sans-serif;
}
:root {
    --bcolor: #00101F;
    --mainheading: #F4CE14;
    --para: #fff6f4;
    --hotish: #FF3FA4;
    --skyblue: #525FE1;
}

/* =============================== */
/* Button CSS start */
/* =============================== */

.button {
    display: inline-block;
    border-radius: 7px;
    border: none;
    background: var(--skyblue);
    color: var(--para);
    font-family: inherit;
    text-align: center;
    font-size: 13px;
    box-shadow: 0px 14px 56px -11px var(--skyblue);
    width: 10em;
    padding: 1em;
    transition: all 0.4s;
    cursor: pointer;
    font-weight: bold;
}

.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.4s;
}

.button span:after {
    content: 'Now';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.7s;
}

.button:hover span {
    padding-right: 3.55em;
}

.button:hover span:after {
    opacity: 4;
    right: 0;
}

/* =============================== */
/* Button CSS End */
/* =============================== */
