* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

:root {
    --bcolor: #00101F;
    --footer-color: #010a12;
    --mainheading: #F4CE14;
    --para: #fff6f4;
    --hotish: #FF3FA4;
    --skyblue: #525FE1;
    --suntala: rgb(152, 79, 0);
}

/* =============================== */
/* Card CSS Starts */
/* =============================== */

.cards {
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: space-around;
    margin-bottom: 4rem;
}

.maincard {
    background: url("/static/check.jpg")no-repeat;
    box-shadow: rgba(48, 48, 204, 0.734) 0px 7px 29px 0px;
    height: 10vh;
    width: 30vw;
    padding: 10vw;
    background-position: center center;
    background-size: cover;
    filter: brightness(85%);
    cursor: pointer;
    border-radius: 10px;
}

.card-contents {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card-contents h2 {
    text-align: center;
    color: var(--hotish);
    font-size: x-large;
}

.card-btn {
    align-self: center;
}

/* =============================== */
/* Card CSS End */
/* =============================== */
/* for small screem */
@media(max-width: 980px) {
    .cards {
        padding: 10px;
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
    }

    .maincard {
        background: url("/static/check.jpg")no-repeat;
        box-shadow: rgba(48, 48, 204, 0.734) 0px 7px 29px 0px;
        height: 20vh;
        width: 40vw;
        padding: 10vw;
        background-position: center center;
        background-size: cover;
        filter: brightness(85%);
        cursor: pointer;
        border-radius: 10px;
    }
}

/* now write css */

.main {
    min-height: 40vh;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    filter: brightness(60%);
    margin-bottom: 1rem;
}

.itemsandcart {
    display: flex;
    gap: 15px;
}

.itemharu {
    flex-basis: 99%;
    /* background-color: yellow; */
}

.cart {
    flex-basis: 40%;
    color: var(--para);
    text-align: center;
    padding-right: 20px;
    margin-right: 20px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

ul li {

    list-style: none;
}

.cart-list {
    position: sticky;
    top: 0;
    background-color: var(--footer-color);
    padding: 8rem;
    margin: 20px;
    border-radius: 10px;
    min-height: 60vh;
    min-width: 30vw;
}



.cart-list li i {
    float: right;
}

.fa-trash {
    padding: 2px;
    margin-left: 20px;

}

.our-items {
    margin-left: 27rem;
    margin-bottom: 1rem;
    color: var(--para);
}

/* for small screen  */
@media(max-width: 980px) {
    .our-items {
        margin: 0;
        text-align: center;
    }

    .itemsandcart {
        flex-direction: column;
    }

    .cart {
        display: none;
    }
}

/* =============================== */
/* Count card CSS Start */
/* =============================== */
.count-container {
    display: flex;
    /* display: -ms-grid; */
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    color: var(--para);
}

.count-card {
    padding: 10px;
    color: var(--para);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 65px;
    width: 55%;
    border-radius: 5px;
    box-shadow: rgba(48, 48, 204, 0.734) 0px 7px 29px 0px;
    margin: auto;
    margin-bottom: 1rem;
    background-color: var(--footer-color);
}

.count-card .count-card-left {
    text-align: center;
    align-items: center;
    display: flex;
    gap: 20px;
}

.count-card .count-card-right {
    display: flex;
    text-align: center;
    justify-content: center;
    gap: 17px;
}

.count-card .count-card-right i {
    cursor: pointer;
    padding: 2px;
    border: 1px solid var(--para);
}

.count-card img {
    width: 50px;
    border: 1px solid var(--para);
    box-shadow: rgba(48, 48, 204, 0.734) 0px 7px 29px 0px;
    height: 50px;
}

/* for small screen */
@media(max-width: 980px) {
    .count-card {
        width: 90%;
    }

    .count-card .count-card-left h3 {
        font-size: 15px;
    }

    .count-card .count-card-right {
        gap: 10px;
    }
}

/* =============================== */
/* Count card CSS End */
/* =============================== */
ol{
    background-color: var(--hotish);
    border-radius: 10px;
}

ol li {
    padding: 10px;
    text-align: left;
}

.fa-trash:hover {
    color: var(--mainheading);
    cursor: pointer;
}

.cartbtns {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.cartbtns input {
    background-color: var(--bcolor);
    border: 2px solid var(--skyblue);
    color: var(--para);
    font-weight: bold;
    padding: 18px;
    border-radius: 4px;
    margin-top: 1rem;
    cursor: pointer;
    transition: 0.3s ease;
}

.cartbtns input:hover {
    background-color: var(--hotish);
    border: 2px solid var(--mainheading);
}

#joo{
    visibility: hidden;
}
