{% extends 'base.html'%}
{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block base_style%}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'about.css' %}">
    {% endblock base_style%}
    <title>Restaurant | Profile</title>
</head>

<body>
    {% block content %}
    <div class="container">
        <div class="sidebar">
            <div class="cdiv">
                <ul>
                    <li>Who are we?</li>
                    <li>Our Vision</li>
                    <li>Our Mission</li>
                    <li>Map</li>
                </ul>
            </div>
        </div>
        <div class="main">
            <div class="filler-container">
                <h1>Are you <span>Foodie</span>?</h1>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Doloremque, debitis.</p>
            </div>

            <div class="aboutcards">
                <div class="e-card playing">
                    <div class="image"></div>

                    <div class="wave"></div>
                    <div class="wave"></div>
                    <div class="wave"></div>


                    <div class="infotop">

                        Thakali Set
                        <br>
                        <div class="name">Mitho cha hai</div>
                    </div>
                </div>
                <div class="e-card playing  card-mobile-hide">
                    <div class="image"></div>

                    <div class="wave"></div>
                    <div class="wave"></div>
                    <div class="wave"></div>


                    <div class="infotop">

                        Biryani
                        <br>
                        <div class="name">Biyani with free Raita</div>
                    </div>
                </div>
                <div class="e-card playing card-mobile-hide">
                    <div class="image"></div>

                    <div class="wave"></div>
                    <div class="wave"></div>
                    <div class="wave"></div>


                    <div class="infotop">

                        Grilled Garlic Chicken
                        <br>
                        <div class="name">With Free 2pcs Nan</div>
                    </div>
                </div>
            </div>

            <section class="mainabout">
                <h2>About Us:</h2>
                <p>Welcome to Lyamma Lyamma, where we're passionate about delivering more than just food - we bring
                    people together through the joy of exceptional dining experiences. Our story began with a simple
                    idea: to connect food lovers with the best local restaurants, allowing you to savor your favorite
                    dishes from the comfort of your own home. With a finger on the pulse of culinary trends and a
                    commitment to excellence, we've curated an extensive menu of delectable options to cater to every
                    palate. From sizzling street food to gourmet delights, our platform offers a diverse array of
                    cuisines that reflects the rich tapestry of flavors from around the world. We take pride in our
                    mission to make every meal a memorable one, promising swift, reliable, and hassle-free delivery
                    services. At Lyamma Lyamma, we are not just a food delivery service; we are your culinary companion,
                    making it easier than ever to indulge in the food you love. Join us in celebrating the joy of food,
                    delivered straight to your doorstep.</p>
            </section>

            <section class="ourvision">
                <h2>Our Vision:</h2>
                <p>At Lyamma Lyamma, our vision transcends the mere act of delivering food. We envision a world where
                    every meal is an opportunity to create moments of delight and connection. Our goal is to redefine
                    the food delivery experience, seamlessly bridging the gap between restaurants and hungry patrons. We
                    aspire to become the premier platform where culinary artistry meets convenience, where people can
                    explore diverse cuisines and discover new flavors with ease. We aim to support local businesses,
                    nurture sustainable food practices, and ensure that our customers not only enjoy a delicious meal
                    but also contribute to the betterment of our communities and the environment. Our vision is to be
                    the link that unites food enthusiasts with their culinary desires, fostering a shared passion for
                    exceptional dining experiences, and fostering a sense of togetherness, one order at a time. Join us
                    on this journey as we continue to innovate and create a brighter, tastier future.
                </p>
            </section>
            <section class="ourmission">
                <h2>Our Mission:</h2>
                <p>At Lyamma Lyamma, our mission is to bring the world's flavors to your doorstep with the click of a
                    button. We are dedicated to making the joy of exceptional dining accessible and convenient for all.
                    Our commitment is twofold: to empower local restaurants by expanding their reach and providing a
                    platform for their culinary creativity to shine, and to offer our customers a seamless, delightful
                    food delivery experience. We aim to consistently exceed expectations by delivering not just meals,
                    but memorable moments, connecting people over the shared love of great food. With a focus on
                    reliability, quality, and sustainability, we strive to make a positive impact on communities and the
                    environment. Lyamma Lyamma is more than a food delivery service; it's a movement that embraces
                    diversity, supports local businesses, and enriches lives through the pleasures of gastronomy. Join
                    us on our mission to savor the world, one bite at a time.
                </p>
            </section>
            <section class="map">
                MAP
            </section>
        </div>
    </div>
    {% endblock %}
</body>

</html>