{%load static%}
<!DOCTYPE html>
<html lang="en">
{% block body %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block base_style%}
    <link rel="stylesheet" href="{% static 'base.css' %}">
    {% endblock base_style%}
    <script src="https://kit.fontawesome.com/c57b7eb6b9.js" crossorigin="anonymous"></script>
  </head>
    <title>Base | File</title>
</head>

<body>
    <header class="header">
        <!-- <img src="{%static 'logos.svg'%}" alt="lyamma lyamm logo" class="logo"> -->
        <h1 class="logo">Lyamma</span></h1>
        <nav class="navbar">
            <ul class="navbar-list">
                <li><a class="nav-links" href="#">Home</a></li>
                <li><a class="nav-links" href="#">About</a></li>
                <li><a class="nav-links" href="#">Foods</a></li>
                <li><a class="nav-links" href="#">Contact</a></li>
                <button id="show-signup" class="button" style="vertical-align:middle"><span>Signup</span></button>
                <button id="show-login" class="button" style="vertical-align:middle"><span>Login</span></button>
            </ul>
        </nav>
        <div class="hamburger">
            <ion-icon name="menu-outline" class="mobile-icon-menu"></ion-icon>
            <ion-icon name="close-outline" class="mobile-icon-close"></ion-icon>
        </div>
    </header>
    <!-- Django message system starts-->
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% block content %} {% endblock %}
    <!-- Django message system ends-->
    <!-- Footer HTML Starts -->
    <hr>
    <footer class="footer">
        <div class="fone">
            <h2>Logo</h2>
            <p>We seek to provide a better and quick food delivery.<br> <span> La khamm hai ta Hajur!</span></p>
            <div class="footer-links">
                <a href=""><i class="fa-brands fa-square-facebook"></i></a>
                <a href=""><i class="fa-brands fa-square-instagram"></i></a>
                <a href=""><i class="fa-brands fa-square-twitter"></i></a>
                <a href=""><i class="fa-brands fa-square-github"></i></a>
            </div>
        </div>
        <div class="ftwo">
            <ul>
                <h3 class="footer-h3">About Us</h3>
                <li><a href="">Who are we?</a></li>
                <li><a href="">About Us</a></li>
                <li><a href="">Our Services</a></li>
                <li><a href="">Our Vision</a></li>
            </ul>
        </div>
        <div class="fthree">
            <ul>
                <h3 class="footer-h3">For the Restaurant</h3>
                <li><a href="">Patner with Us</a></li>
                <li><a href="">Register</a></li>
                <li><a href="">Rules and Terms</a></li>
            </ul>
        </div>
        <div class="ffour">
            <ul>
                <h3 class="footer-h3">Know More</h3>
                <li><a href="">Secerecy</a></li>
                <li><a href="">Bails</a></li>
                <li><a href="">Terms</a></li>
                <li><a href="">Site Map</a></li>
            </ul>
        </div>
    </footer>
    <hr>

    <!-- Footer HTML Ends -->

    <!-- Signup form starts -->
    <div class="overlay" id="modalOverlay">
        <div class="modal">
            <span class="close" id="closeModal">&times;</span>
            <!-- Your sign-up form goes here -->

            <form action="/signup/" method="post">
                {% csrf_token %}
                <h2>Sign <span>Up</span></h2>
                <div class="fieldd">
                    <label for="">Username</label>
                    <br>
                    <input class="primary-input" type="text" name="username" id="username" required>
                </div>
                <div class="fieldd">
                    <label for="">Email</label>
                    <br>
                    <input class="primary-input" type="email" name="email" id="email" required>
                </div>
                <div class="fieldd">
                    <label for="">Password</label>
                    <br>
                    <input class="primary-input" type="password" name="password" id="password" required>
                </div>
                <div class="fieldd">
                    <label for="">Confirm Password</label>
                    <br>
                    <input class="primary-input" type="password" name="cpassword" id="cpassword" required>
                </div>
                <input type="submit" value="Signup" name="" id="" class="button-79">
            </form>
        </div>
    </div>
    <!-- Signup form ends -->


    <!-- Login form starts -->
    <div class="overlay" id="modalOverlay2">
        <div class="modal">
            <span class="close" id="closeModal2">&times;</span>
            <!-- Your sign-up form goes here -->

            <form action="/login/" method="post">
                {% csrf_token %}
                <h2>Log <span>In</span></h2>
                <div class="fieldd">
                    <label for="">Username</label>
                    <br>
                    <input class="primary-input" type="text" name="loginusername" id="loginusername" required>
                </div>
                <div class="fieldd">
                    <label for="">Password</label>
                    <br>
                    <input class="primary-input" type="password" name="loginpassword" id="loginpassword" requires>
                </div>
                <input type="submit" value="Login" name="" id="" class="button-79">
            </form>
        </div>
    </div>
    <!-- Login form ends -->

    <!-- Java script section starts -->

    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <script src="{%static 'base.js' %}"></script>

    <!-- signup popup script starts -->
    <!-- <script>
        document.querySelector("#show-login").addEventListener("click", function () {
            // document.querySelector(".popup").classList.add("active");
            alert("Please");
        });

        document.querySelector(".popup .close-btn").addEventListener("click", function () {
            document.querySelector(".popup").classList.remove("active");
        });
    </script> -->

    <script>
        // Get references to the modal and overlay
        var modal = document.getElementById('modalOverlay');
        var openButton = document.getElementById('show-signup');
        var closeButton = document.getElementById('closeModal');

        // Open the modal when the "Sign Up" button is clicked
        openButton.addEventListener('click', function () {
            modal.style.display = 'block';
        });

        // Close the modal when the close button is clicked
        closeButton.addEventListener('click', function () {
            modal.style.display = 'none';
        });

        // Close the modal when the overlay (outside the modal) is clicked
        modal.addEventListener('click', function (event) {
            if (event.target === modal) {
                modal.style.display = 'none';
            }
        });
    </script>
    <!-- signup popup script ends -->


    <!-- login popup script starts -->
    <script>
        // Get references to the modal and overlay
        var modal2 = document.getElementById('modalOverlay2');
        var openButton2 = document.getElementById('show-login');
        var closeButton2 = document.getElementById('closeModal2');

        // Open the modal when the "Sign Up" button is clicked
        openButton2.addEventListener('click', function () {
            modal2.style.display = 'block';
            // alert('Login');
        });

        // Close the modal when the close button is clicked
        closeButton2.addEventListener('click', function () {
            modal2.style.display = 'none';
        });

        // Close the modal when the overlay (outside the modal) is clicked
        modal2.addEventListener('click', function (event) {
            if (event.target === modal2) {
                modal2.style.display = 'none';
            }
        });
    </script>
    <!-- login popup script ends -->
</body>
{% endblock %}

</html>