{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'chainekura.css' %}">
    <title>Chaine | Kura</title>
</head>

<body>
    <br>
    <br>
    <button class="button" style="vertical-align:middle"><span>Order</span></button>

    <br>
    <br>
    <br>
    <!-- Banner starts -->
    <hr>
    <div class="index-banner">
        <h3>Special Lyamma Mo:Mo</h3>
        <h1>Delicious as fuck</h1>
        <p>Ever wanted to show your Beatboxing Skills on Swissbeatbox? Submit your Video now to the Community section
            where thousands of Beatbox fans will see it. The best videos will be featured regularly.</p>


        <button class="banner-button">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 12h15m0 0l-6.75-6.75M19.5 12l-6.75 6.75">
                </path>
            </svg>

            <div class="text">
                Order
            </div>
        </button>
    </div>
    <hr>
    <!-- Banner end -->

    <br>
    <br>
    <br>
    <!-- card prototype 1 start -->
    <div class="cards">
        <!-- Card one starts -->
        <div class="maincard">
            <div class="card-contents">
                <h2>Chicken Pizza</h2>
                <!-- <p>Lorem ipsum dolor sit amet.</p> -->
                <button class="banner-button card-btn">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                        stroke="currentColor" class="w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round"
                            d="M4.5 12h15m0 0l-6.75-6.75M19.5 12l-6.75 6.75">
                        </path>
                    </svg>
                    <div class="text">
                        Order
                    </div>
                </button>
            </div>
        </div>
        <!-- Card one ends -->

        <!-- Card two starts -->
        <div class="maincard">
            <div class="card-contents">
                <h2>Buff Momo</h2>
                <!-- <p>Lorem ipsum dolor sit amet.</p> -->
                <button class="banner-button card-btn">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                        stroke="currentColor" class="w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round"
                            d="M4.5 12h15m0 0l-6.75-6.75M19.5 12l-6.75 6.75">
                        </path>
                    </svg>
                    <div class="text">
                        Order
                    </div>
                </button>
            </div>
        </div>
        <!-- Card two ends -->

        <!-- Card three starts -->
        <div class="maincard">
            <div class="card-contents">
                <h2>Veg Chowmein</h2>
                <!-- <p>Lorem ipsum dolor sit amet.</p> -->
                <button class="banner-button card-btn">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                        stroke="currentColor" class="w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round"
                            d="M4.5 12h15m0 0l-6.75-6.75M19.5 12l-6.75 6.75">
                        </path>
                    </svg>
                    <div class="text">
                        Order
                    </div>
                </button>
            </div>
        </div>
        <!-- Card three ends -->

        <!-- Card four starts -->
        <div class="maincard">
            <div class="card-contents">
                <h2>Buff Chowmein</h2>
                <!-- <p>Lorem ipsum dolor sit amet.</p> -->
                <button class="banner-button card-btn">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                        stroke="currentColor" class="w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round"
                            d="M4.5 12h15m0 0l-6.75-6.75M19.5 12l-6.75 6.75">
                        </path>
                    </svg>
                    <div class="text">
                        Order
                    </div>
                </button>
            </div>
        </div>
        <!-- Card four ends -->
    </div>

    <br>
    <br>
    <br>
    <br>
    <!-- card prototype 1  end -->
</body>

</html>