<!-- {% extends 'base.html'%}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block base_style%}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'restaurantProfile.css' %}">
    {% endblock base_style%}
    <title>Restaurant | Profile</title>
</head>
<body>
    {% block content %} 
    <h2>Working</h2>
    {% endblock %}
</body>
</html>
static\restaurantProfile.css -->