{% extends 'base.html'%}
{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block base_style%}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'styles/login.css' %}">
    {% endblock base_style%}
    <title>Restaurant | Profile</title>
</head>

<body>
    {% block content %}
    <div class="login-container">
        <center>
            <h2>Login First to Continue</h2>
            <div class="formbtns">
                <button id="loginbtn" class="button" style="vertical-align:middle"><span>Login</span></button>
                <button id="signupbtn" class="button" style="vertical-align:middle"><span>Signup</span></button>
            </div>
            {% include 'banner.djt' %}
        </center>
    </div>

    <!-- Signup form starts -->
    <div class="overlay" id="modalOverlay">
        <div class="modal">
            <span class="close" id="closeModal">&times;</span>
            <!-- Your sign-up form goes here -->
            <form id="formbase" action="/signup/" method="post">
                {% csrf_token %}
                <h2>Sign <span>Up</span></h2>
                <div class="fieldd">
                    <label for="">Username</label>
                    <br>
                    <input class="primary-input" type="text" name="username" id="username" required>
                </div>
                <div class="fieldd">
                    <label for="">Email</label>
                    <br>
                    <input class="primary-input" type="email" name="email" id="email" required>
                </div>
                <div class="fieldd">
                    <label for="">Password</label>
                    <br>
                    <input class="primary-input" type="password" name="password" id="password" required>
                </div>
                <div class="fieldd">
                    <label for="">Confirm Password</label>
                    <br>
                    <input class="primary-input" type="password" name="cpassword" id="cpassword" required>
                </div>
                <input type="submit" value="Signup" name="" id="" class="button-79">
            </form>
        </div>
    </div>
    <!-- Signup form ends -->

    <!-- Login form starts -->
    <div class="overlay" id="modalOverlay2">
        <div class="modal">
            <span class="close" id="closeModal2">&times;</span>
            <!-- Your sign-up form goes here -->

            <form action="/login/" method="post">
                {% csrf_token %}
                <h2>Log <span>In</span></h2>
                <div class="fieldd">
                    <label for="">Username</label>
                    <br>
                    <input class="primary-input" type="text" name="loginusername" id="loginusername" required>
                </div>
                <div class="fieldd">
                    <label for="">Password</label>
                    <br>
                    <input class="primary-input" type="password" name="loginpassword" id="loginpassword" requires>
                </div>
                <input type="submit" value="Login" name="" id="" class="button-79">
            </form>
        </div>
    </div>
    <!-- Login form ends -->

    <!-- Signup form starts -->
    <script>
        // Get references to the modal and overlay
        var modal = document.getElementById('modalOverlay');
        var openButton = document.getElementById('signupbtn');
        var closeButton = document.getElementById('closeModal');

        // Open the modal when the "Sign Up" button is clicked
        openButton.addEventListener('click', function () {
            modal.style.display = 'block';
        });

        // Close the modal when the close button is clicked
        closeButton.addEventListener('click', function () {
            modal.style.display = 'none';
        });

        // Close the modal when the overlay (outside the modal) is clicked
        modal.addEventListener('click', function (event) {
            if (event.target === modal) {
                modal.style.display = 'none';
            }
        });
    </script>
    <!-- signup popup script ends -->

    <!-- login popup script starts -->
    <script>
        // Get references to the modal and overlay
        var modal2 = document.getElementById('modalOverlay2');
        var openButton2 = document.getElementById('loginbtn');
        var closeButton2 = document.getElementById('closeModal2');

        // Open the modal when the "Sign Up" button is clicked
        openButton2.addEventListener('click', function () {
            modal2.style.display = 'block';
            // alert('Login');
        });
        // Open the modal when the "Sign Up" button is clicked
        modal2.style.display = 'block';

        // Close the modal when the close button is clicked
        closeButton2.addEventListener('click', function () {
            modal2.style.display = 'none';
        });

        // Close the modal when the overlay (outside the modal) is clicked
        modal2.addEventListener('click', function (event) {
            if (event.target === modal2) {
                modal2.style.display = 'none';
            }
        });
    </script>
    <!-- login popup script ends -->
    {% endblock %}
</body>

</html>