{% extends 'base.html'%}
{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block base_style%}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'styles/restaurantlist.css' %}">
    {% endblock base_style%}
    <title>Restaurant | Profile</title>
</head>

<body>
    {% block content %}
    <div class="restaurantlist">
        <div class="div1">
            <div class="listBox" data-aos="fade-up">
                {% for partnerapproved in approvedPartners %}
                <div class="box" style="background-image: url(/media/{{partnerapproved.image}});">
                    <h1>{{partnerapproved.restaurantname}}</h1>
                    <p>Lorem ipsum dolor sit amet.</p>
                    <!-- <button class="restaurantListButton">
                        <a href="/">View</a>
                    </button> -->
                    <button class="banner-button">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                            stroke="currentColor" class="w-6 h-6">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 12h15m0 0l-6.75-6.75M19.5 12l-6.75 6.75">
                            </path>
                        </svg>
            
                        <div class="text">
                            <a href="/restaurantlist/{{partnerapproved.slug}}">Order</a>
                        </div>
                    </button>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    {% endblock %}

</body>

</html>