{% extends 'base.html'%}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'restaurantSignup.css' %}">
    <title>Restaurant | Signup</title>
</head>
<body>
    <div class="main-form">
        <form action="" method="post">
            <label for="restaurantName">Name of Restaurant:</label>
            <br>
            <input type="text" name="firstname"> <!--firstname == restaurant name-->
            <br>
            <label for="restaurantUsername">Username:</label>
            <br>
            <input type="text" name="restaurantUsername">
        </form>
    </div>
</body>
</html>