{% extends 'base.html'%}
{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block base_style%}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'restaurantProfile.css' %}">
    {% endblock base_style%}
    <title>Restaurant | Profile</title>
</head>

<body>
    {% block content %}
    <div class="grid-container">
        <div class="main" style="background-image: url(/static/check.jpg);">
            <!-- <img src="{% static 'check.jpg' %}" alt=""> -->
        </div>
        <!-- <h2 id="our-menu"></h2> -->
        <div class="items" id="data-output">
            <!-- Count card starts -->
            <!-- <div class="count-container">
                <h2>Our Menu</h2>
                <div class="count-card">
                    <div class="count-card-left">
                        <h3>1.</h3>
                        <img src="{% static 'check.jpg'%}" alt="khana">
                        <h3>Chicken Mo:Mo</h3>
                    </div>
                    <div class="count-card-right">
                        <i class="fa-solid fa-minus"></i>
                        <div class="live-count">
                            <h3 id="data-output"></h3>
                        </div>
                        <i class="fa-solid fa-plus"></i>
                    </div>
                </div>
            </div> -->
            <!-- Count card ends -->

        </div>
        <div class="cart">
            <div class="sticky-cart">
                <h2>Order Summary</h2>
                <ul>
                    <li>momo</li>
                    <li>momo</li>
                    <li>momo</li>
                    <li>momo</li>
                </ul>
            </div>
        </div>
    </div>
    <script>
        // fetch("bhimbhaiitems.json")
        fetch("{% static 'bhimbhaiitems.json'%}")
            .then(function (response) {
                return response.json();
            })
            .then(function (bhimbhaiitems) {
                let placeholder = document.querySelector("#data-output"); let out = "";

                for (let item of bhimbhaiitems) {
                    // out += `
                    //     ${item.price}
                    // `;
                    out += `
                        <div class="count-container">
                            <h2>Our Menu</h2>
                            <div class="count-card">
                                <div class="count-card-left">
                                    <h3>${item.id}</h3>
                                    <img src="{% static 'check.jpg'%}" alt="khana">
                                    <h3>Chicken Mo:Mo</h3>
                                </div>
                                <div class="count-card-right">
                                    <i class="fa-solid fa-minus"></i>
                                    <div class="live-count">
                                        <h3>${item.price}</h3>
                                    </div>
                                    <i class="fa-solid fa-plus"></i>
                                </div>
                            </div>
                        </div>
                    `;
                }
                placeholder.innerHTML = out;
            });
    </script>

    <!-- <script src="{%static 'restaurantProfile.js' %}"></script> -->
    {% endblock %}
</body>
<!-- <tr>
    <td> <img src='${item.image}'> </td>
    <td>${item.itemname}</td>
    <td>${item.price}</td>
</tr> -->

</html>