* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

:root {
    --bcolor: #00101F;
    --footer-color: #010a12;
    --mainheading: #F4CE14;
    --para: #fff6f4;
    --hotish: #FF3FA4;
    --skyblue: #525FE1;
    --suntala: rgb(152, 79, 0);
}

.restaurantlist {
    color: var(--para);
    padding: 4rem;
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}


/* LEFT DIV */

.restaurantlist .div1 {
    display: flex;
    /* overflow-y: scroll; */
    justify-content: space-between;
    width: 100%;
}

.listBox {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    width: 100%;
}


.restaurantlist .div1 .listBox .box {
    box-shadow: rgba(0, 0, 0, 0.35) 0px -120px 36px -18px inset;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    border-radius: .5rem;
    /*muniko*/
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    filter: brightness(80%);
    transition: 0.3s ease-in-out;
    cursor: pointer;
}
.restaurantlist .div1 .listBox .box:hover{
    transform: scale(1.05);
}

.listBox .box {
    min-height: 40vh;
}

.titleBox .box {
    min-height: 20vh;
    color: black;
}

.titleBox {
    color: black;
}


/* RIGHT DIV */
.restaurantlist .div2 {
    padding: 0 .5rem;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    display: none;
    background: red;
}

.restaurantlist .div2 .titleBox {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    height: inherit;
}

.titleBox .box {
    background-color: rgb(91, 107, 107);
    border-radius: .5rem;
    padding: .5rem;
}

/* For Phone */
@media(max-width:768px) {
    .restaurantlist {
        padding: .5rem;
    }

    .restaurantlist .div1 .listBox {
        width: 100%;
    }

    .listBox .box {
        min-height: 30vh;
    }

    .restaurantlist .div1 .listBox {
        grid-template-columns: 1fr;
        min-height: 100vh;
    }

    .restaurantlist .div1 {
        display: flex;
        /* display flex garnu parxqa person list nikalna  */
    }

}

/* banner button starts */
.banner-button {
    margin: 10px 0;
    background-color: var(--bcolor);
    color: var(--para);
    width: 8.5em;
    height: 2.9em;
    border: #3654ff 0.2em solid;
    border-radius: 11px;
    text-align: right;
    transition: all 0.6s ease;
}

.banner-button:hover {
    background-color:  #3654ff;
    border: var(--mainheading) 0.2em solid;
    cursor: pointer;
    color: var(--para);
}

.banner-button svg {
    width: 1.6em;
    margin: -0.2em 0.8em 1em;
    position: absolute;
    display: flex;
    transition: all 0.6s ease;
}

.banner-button:hover svg {
    transform: translateX(5px);
}

.banner-button .text {
    font-weight: bold;
    margin: 0 1.5em
}

.banner-button .text a{
    text-decoration: none;
    color: var(--para);
    font-size: large;
}
.box p{
    color: #fff;
    font-weight: bold;
    /* filter: brightness(200%); */
}